.tribe-events-view--happening-now.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container,
.tribe-events-view--happening-now.tribe-events .tribe-events-l-container {
    min-height: 0;
    padding-bottom: 1px;
    padding-top: 1px;
}
