.tribe-events-view--happening-now.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container,
.tribe-events-view--happening-now.tribe-events .tribe-events-l-container {
	min-height: 0;
	padding-bottom: 1px;
	padding-top: 1px;
}

.tribe-events-view--happening-now.tribe-common .tribe-common-l-container {
	padding-left: 0;
	padding-right: 0;
}

.tribe-ext-events-happening-now .tribe-ext-events-happening-now__title {
	display: block;
	border-bottom: 1px solid #D5D5D5;
}

/* -----------------------------------------------------------------------------
* Single event happening
* ----------------------------------------------------------------------------- */

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-ext-events-happening-now__title {
	margin-bottom: 20px;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-row {
	border: 1px solid #D5D5D5;
	border-bottom: 0;
	margin: 0;
	padding: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now--single.tribe-ext-events-happening-now .tribe-events-calendar-list__event-row {
	border-left: 4px solid #334AFF;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-row:last-of-type,
.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-row:last-of-type {
	border-bottom: 1px solid #D5D5D5;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-row > .tribe-common-g-col {
	padding-left: 0;
	padding-right: 0;
}

.tribe-events .tribe-events-calendar-list__event-datetime-wrapper {
	margin-bottom: 4px;
}

.tribe-events .tribe-ext-events-happening-now .tribe-events-calendar-list__event-row--no-image .tribe-ext-events-happening-now__event-featured-image {
	display: none;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now .tribe-events-calendar-list__event-cost .tribe-events-c-small-cta__link {
	font-size: 14px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag,
.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-details {
	padding-top: 30px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-featured-image-wrapper {
	padding: 30px;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag {
	border-left: 4px solid #334AFF;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag {
	border-left: 0;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag-datetime,
.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-details {
	padding: 20px 0;
	width: 100%;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag-datetime {
	padding: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now .tribe-events-calendar-list__event-details {
	width: 100%;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime::after,
.tribe-common--breakpoint-medium.tribe-events.tribe-ext-events-happening-now--single .tribe-ext-events-happening-now .tribe-events-calendar-list__event-date-tag-datetime::after {
	display: none;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag-weekday {
	font-size: 12px;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-date-tag-daynum {
	font-size: 32px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now .tribe-ext-events-happening-now__event-featured-image {
	max-width: 366px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now .tribe-events-calendar-list__event-featured-image-wrapper {
	width: 100%;
}

.tribe-events .tribe-ext-events-happening-now .tribe-ext-events-happening-now__event-featured-image img {
	max-width: 100%;
	height: auto;
}

.tribe-events .tribe-ext-events-happening-now .tribe-events-calendar-list__event-row {
	flex-wrap: wrap;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now .tribe-events-calendar-list__event-row {
	flex-wrap: nowrap;
}

.tribe-events .tribe-ext-events-happening-now .tribe-ext-events-happening-now__event-featured-image {
	order: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now .tribe-ext-events-happening-now__event-featured-image {
	order: 3;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--single .tribe-events-calendar-list__event-featured-image-wrapper {
	margin: 0;
}

/* -----------------------------------------------------------------------------
* Multiple Events
* ----------------------------------------------------------------------------- */

.tribe-ext-events-happening-now .tribe-ext-events-happening-now__title .tribe-common-h6 {
	padding-bottom: 14px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now--multiple {
	border: 1px solid #D5D5D5;
	padding: 24px 36px;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--multiple .tribe-events-calendar-list__event-row,
.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now--multiple .tribe-ext-events-happening-now .tribe-events-calendar-list__event-row {
	border-bottom: 1px solid #D5D5D5;
	margin: 0;
	padding: 30px 0;
}

.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--multiple .tribe-events-calendar-list__event-row:last-of-type,
.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now--multiple .tribe-ext-events-happening-now .tribe-events-calendar-list__event-row:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--multiple .tribe-events-calendar-list__event-row > .tribe-common-g-col {
	padding-left: 0;
	padding-right: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--multiple .tribe-events-calendar-list__event-date-tag {
	text-align: left;
	width: 6.111%;
	min-width: 58px;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-ext-events-happening-now.tribe-ext-events-happening-now--multiple .tribe-events-calendar-list__event {
	padding-left: 35px;
}

/* -----------------------------------------------------------------------------
* Theme Overrides - Avada
* ----------------------------------------------------------------------------- */

#wrapper .tribe-theme-avada .tribe-ext-events-happening-now .tribe-ext-events-happening-now__title .tribe-common-h6 {
	font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
	font-weight: 700;
}
